.header{display:flex;justify-content:space-between;overflow:hidden;position:sticky;top:0}.header__tabs{display:flex;gap:10px}.header__info{align-items:center;display:flex;justify-content:center}
.App{height:100%;width:100%}
