/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-23.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-23.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-23.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./components/Header/Header.vue?vue&type=style&index=0&id=367298b8&lang=scss&scoped=true ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
.header[data-v-367298b8] {
    box-sizing: border-box;
    background-blend-mode: overlay;
    -webkit-backdrop-filter: blur(1.25rem);
    backdrop-filter: blur(1.25rem);
}
}
.header[data-v-367298b8] {
  position: sticky;
  top: 0;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0deg, 0%, 8%, 0.7);
  z-index: 100;
}
.header img[data-v-367298b8] {
  width: 1.5625rem;
  height: 1.5625rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.header__tabs[data-v-367298b8] {
  display: inline-flex;
  gap: 2.25rem;
  padding: 0 2.25rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.header__tabs a[data-v-367298b8] {
  text-decoration: none;
  line-height: 3rem;
  font-size: 1rem;
  color: hsla(255deg, 100%, 100%, 0.65);
  transition: ease 250ms;
}
.header__tabs[data-v-367298b8] :hover {
  color: hsl(255deg, 100%, 100%);
}
.header i[data-v-367298b8] {
  font-size: 1.25rem;
  cursor: pointer;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-23.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-23.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-23.use[3]!./node_modules/vue-loader/dist/index.js??ruleSet[0]!./layouts/default.vue?vue&type=style&index=0&id=314f53c6&lang=scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.app {
  width: 100%;
  height: 100%;
}
