@use './../util' as u;
@import './../globals/_variables.scss';

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--v-theme-background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
  color: var(--v-theme-color);
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.router-link-exact-active, .router-link-exact-active, a {
  color: white;
}
